<app-menue></app-menue>

<section id="explain">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div></div>
        <h2>{{ 'intro.toolName' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-content">
          <h3>{{'intro.explain.title' | translate}}</h3>
          <p [innerHTML]="'intro.explain.p1' | translate"></p>
          <p [innerHTML]="'intro.explain.p2' | translate"></p>
          <p [innerHTML]="'intro.explain.p3' | translate"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="form" class="zebra">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'intro.form.title' | translate}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-form></app-form>
      </div>
    </div>
  </div>
</section>

<section id="step">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Step</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 step-block-wrapper">
        <div class="step-block-content section-content">
          <div class="num-step"> <span class="number">1</span> </div>
          <h3>{{'intro.step.1.title' | translate}}</h3>
          <p>{{'intro.step.1.body' | translate}}</p>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 step-block-wrapper">
        <div class="step-block-content section-content">
          <div class="num-step"><span class="number">2</span></div>
          <h3>{{'intro.step.2.title' | translate}}</h3>
          <p>{{'intro.step.2.body' | translate}}</p>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 step-block-wrapper">
        <div class="step-block-content section-content">
          <div class="num-step"><span class="number">3</span></div>
          <h3>{{'intro.step.3.title' | translate}}</h3>
          <p>{{'intro.step.3.body' | translate}}</p>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 step-block-wrapper">
        <div class="step-block-content section-content">
          <div class="num-step"><span class="number">4</span></div>
          <h3>{{'intro.step.4.title' | translate}}</h3>
          <p>{{'intro.step.4.body' | translate}}</p>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 step-block-wrapper">
        <div class="step-block-content section-content">
          <div class="num-step"><span class="number">5</span></div>
          <h3>{{'intro.step.5.title' | translate}}</h3>
          <p>{{'intro.step.5.body' | translate}}</p>

        </div>
      </div>
    </div>
  </div>
  
</section>
<app-footer></app-footer>
