@import '../../../variables.scss';
$bubble-w : 20px;
$bubble-w-mobile : 15px;
.number{
    position: relative;

    display: inline-block;
}
.num-step{
    position: absolute;
    line-height: normal;
    top: -$bubble-w / 2.2;
    text-align: center;
    left: -$bubble-w / 2.2;
    height: $bubble-w;
    width: $bubble-w;
    border-radius: 50%;
    background-color: $secondary-color;
    border: 1px solid $third-color;
    color: $third-color;
    
    font-weight: 600;
}
.step-block-content{
    position: relative;
}
@media only screen and (max-width: $mobile-view-br)  {
    .num-step{
        top: -$bubble-w-mobile / 2.5;
        left: -$bubble-w-mobile / 2.5;
        height: $bubble-w-mobile;
        width: $bubble-w-mobile;
    }
    .number{
        top: -3px;
        vertical-align: middle;
    }
}