@import '../../../variables';

nav{
	@extend %shadow;
	background-color: $primary-color;
}
// .lang-field{
// 	text-align: right;
// }
// .icon {
// 	display: inline-block;
// 	// margin-left: 15px;
// 	// float: right;
// 	width: 1.5em;
// 	// margin: 15px 0;
// 	position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// 	height: 1.5em;
// 	stroke-width: 0;
// 	stroke: currentColor;
// 	// fill: $third-color;
//   }
//   .img-wrapper{
// 	  height: 65.5px;
//   }
  
.wrapper{
	width: 100%;
}

.icon{
	width: 1.5em;
	margin: 15px 0;
	margin-top: 15px;

}
.lang-field{
	max-width: 3em;
	float: right;
    display: inline-block;
}
.mat-form-field{
	width: 100%;
}
@media only screen and (max-width: $mobile-view-br)  {
	.icon, .mat-form-field{

		font-size: 1.5em;
	}	
	.icon{
	}
	.lang-field{
		max-width: 5em;
	}
}