<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">
          <img class="icon" src="./assets/imgs/header-icon.svg" alt="header icon">
          <div class="lang-field">
            <mat-form-field>
              <mat-select [(value)]="coreService.lang">
                <mat-option value="fr">Fr</mat-option>
                <mat-option value="en">En</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
