@import '../../../variables';
.control{
  background-color: $secondary-color;
  // overflow: hidden;
  // // position: fixed;
  // bottom: 0;
  // width: 100%;
  text-align: right;
  height: $control-bar-h;
  // $secondary-color
  .controller{
    position: relative;
    height: $control-bar-h;
  }
  .button-wrapper{
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50% );
  }
  button{
    
    // box-shadow: none;
    border-radius: 4px;
    // background-color: lighten($contrast-color, 29); 
    background-color: $contrast-color; 
    // border: 1px solid $contrast-color;
    // background-color: transparent;
    height: 33px;
    width: 59px;
    padding: 5px;
    position: relative;
    svg{
      @extend %animation;
      // position: absolute;
      position: absolute;
      height: 60%;
      top: 50%;
      transform: translateY(-50%);
      fill: #67e0c6;
      left: 0;
      width: 100%;
      // height: 100%;
    }
    &:hover{
      // padding: 5px;
      svg{
        height: 75%;
      }
      outline: none;
    }
    &:first-of-type{
      margin-right: 15px;
    }
  }
}