<div class="control">
	 <div class="container">
	 	<div class="row">
			 <div class="col-sm-12 controller">
				<!-- <button type="button" *ngIf="!toggleTimer" (click)="toggleBtn()"><svg><use xlink:href="./assets/imgs/play-button.svg#Layer_1"></use></svg></button> -->
				<!-- <button type="button" *ngIf="toggleTimer" (click)="toggleBtn()"><svg><use xlink:href="./assets/imgs/pause.svg#Capa_1"></use></svg></button> -->
				<div class="button-wrapper">

					<button type="button" (click)="toggleBtn()"><svg><use attr.xlink:href="{{toggleTimer ? './assets/imgs/pause.svg#pause' : './assets/imgs/play-button.svg#play'}}"></use></svg></button>
					<button type="button" (click)="openDialog()"><svg><use xlink:href="./assets/imgs/redo.svg#redo"></use></svg></button>
				</div>
				<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
			</div>
		</div>
	</div>
</div>