@import 'variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  .mat-expansion-panel{

    font-size: 0.8em;
  }
  margin:0;
  font-size: 0.8em;
  *{
    box-sizing:border-box;
  }
  h1,h2,h3,h4{
  	color:$color-dark;
	font-family: $font-main;
  }
  h2{
    font-size: 1.8em;
    font-weight: 200;
  }
  p{
    color:$color-dark;
    margin-bottom: 16px;
	  font-family: $font-main;
  }
}

section {
	padding: $section-padding 0;
  &.zebra{
    color: $third-color;
    background-color: $secondary-color;
  }
}
mat-tooltip-component>.mat-tooltip {
  white-space: pre;
}
.showtooltip{
  color: $third-color;
}
.section-content {
	@extend %shadow;
	padding: $content-padding;
	background-color: $primary-color;
}

// overrigth material default style
.mat-expansion-panel{
	.mat-expansion-panel-header {
		padding: 0 $content-padding;
		border-radius: $b-radius;
	}
}


// -----------------------BTN-----------------------
button{
	@extend %reset-Button;
	@extend %shadow;
  @extend %animation;
  width: 100%;
	border-radius: $b-radius;
	background-color: $third-color;
	padding: 15px;
	color:$color-light;
  // font-family: $font-input;
	&:hover{
		cursor:pointer;
		background-color:darken($third-color,5%);
	}
	&:disabled{
		cursor:default;
		background-color:lighten($third-color,15%);

		
	}
}
// -----------------------BTN END-----------------------


.thewrapper{
  min-height: 100vh;
}
app-footer{
  margin-top: auto;
}
// -----------------------FORMS-----------------------
form{
  margin: 0;
  display: block;
  margin-bottom: 20px;
}
label{
  display: block;
  // font-size: 21px;
  span{
    color:$color-dark;
    // font-size: 36px;
    font-family: $font-main;
  }
  margin: 10px 0;
}
input{
    // border-radius: $b-radius;
    width: 70px;

    color:$color-dark;
    // background-color: lighten($contrast-color, 30) ;
    font-family: $font-input;
    // font-size: 36px;
    // vertical-align: top;
    margin: 0 12px;
    margin-left: 0;
    border: none;
    text-align: center;
    outline: none;
    padding: 0px;
    border-bottom: 1px solid $contrast-color;
    &.ng-invalid{
    	border-bottom: 2px solid $red;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// -----------------------FORMS END-----------------------
.step-block-wrapper{
	padding-bottom: 30px;
	.step-block-content{
	//   padding: $content-padding;
	  background-color: $primary-color;
	}
}

@media only screen and (max-width: $mobile-view-br)  {
  body{
    font-size: 0.7em;

  }
  .step-block-wrapper{
    padding-bottom: 15px;
  }
  .section-content {
    p{
      margin-bottom: 7px;
    }
    padding: $content-padding/2;
  }
  section {
    h2{
      text-align: center;
    }
    // padding: 25px 0;
    &.zebra{
      color: $third-color;
      background-color: $secondary-color;
    }
  }
}