@import '../../../variables';
:host{
  margin-top: auto;
  // background-color: $color-dark;
  background-color: $third-color;
  bottom: 0;
  height: $footer-h;
  text-align: right;
  display: block;
  width: 100%;
  position: relative;
  .no-padding{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon {
  position: relative;
  display: inline-block;
  // float: right;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  // fill: $third-color;
  fill: $contrast-color;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.icon-wrapper{
  margin-left: 15px;
  vertical-align: text-bottom;
  display: inline-block;
  height: 18px;
  width: 18px;
  &.icon-flip{
    svg{
      box-shadow: 0 2px 1px -12px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      width: 73%;
      
      height: 73%;
      transform: rotate(45deg);
    }
  }
}


@media only screen and (max-width: $mobile-view-br)  {
  .icon-wrapper{
    
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    &.icon-flip{
      svg{
        top: 4px;
        width: 83%;
        height: 83%;
      }
    }
  }
  :host{
    height: $footer-h-mobile;
    text-align: center;
  }
}
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */